.ContactDiv {
  background-color: var(--ThemeBlack);
}

.ContactDiv h2 {
  color: var(--pink);
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 2em; */
}
.line {
  background-color: var(--pink);
  width: 2px;
  margin: 0.2em;
  margin-top: 0.3em;
  height: 1.3em;
}

.header h3 {
  margin: 0.1px;
  margin-left: 0.5em;
  color: white;
}

a {
  display: block;
  color: rgb(181, 177, 177);
  margin: 0.5em;
  margin-bottom: 2em;
  font-style: none;
  text-decoration: none;
}
a:hover {
  color: var(--pink);
}

.socialIcons {
  width: 50%;
  /* border: 2px blue dotted; */
  display: flex;
  justify-content: space-evenly;
}

.socialIcons a {
  display: block;
  font-size: x-large;
  /* border: 2px red solid; */
  color: white;
  margin: 0.3em;
  margin-top: 0.5em;
}
.socialIcons a:hover {
  color: var(--pink);
}
