h2 {
  text-align: center;
  font-size: 3em;
  color: grey;
  font-style: Roboto;
}
.container {
  width: 80vw;
  /* border: 1px blue solid; */
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.company {
  display: flex;

  flex-direction: column;
  margin: 1em;
  border-radius: 45px;
  width: 65%;
  background-color: rgb(211, 223, 234);
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.company img {
  display: block;
  border-radius: 26px;
  /* border: 2px red solid; */
  margin: 0.5em;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.company h3 {
  margin: 0.3em;
  font-weight: bold;
}
.company p {
  color: gray;
  margin: 0em;
  margin-left: 0.3em;
  font-weight: 600;
}
@media only screen and (min-width: 868px) {
  .container {
    width: 90vw;
    display: flex;
    flex-direction: row;
    /* border: 2px blue solid; */
  }
  .company {
    width: 35%;
    margin: 0.5em;
    padding: 1em;
  }
}
